.DS_Store
*.xcuserstate
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.build/
DerivedData/
*.resolved
fastlane/report.xml
fastlane/test_output/
